<p><%= notice %></p>

<h1>Items in Inventory</h1>

<table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Quantity</th>
  </thead>

  <tbody>
    <%= render partial: 'item', collection: @items %>
  </tbody>
</table>
